@use '../abstracts' as *;

.contacts {
  &__body {
    font-style: normal;
  }

  &__map-link {
    display: block;
  }

  &__item,
  &__map-link {
    @extend %hover-effect-scale-5-color-secondary;

    width: fit-content;
  }
}
