// .arrow-icon {
//   background-image: url(../images/icons/carbon_arrow-up.svg);

//   background-repeat: no-repeat;
//   background-position: center;
// }

.icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center;

  &--facebook {
    background-image: url(../images/icons/facebook.svg);
  }

  &--instagram {
    background-image: url(../images/icons/instagram.svg);
  }

  &--arrow {
    background-image: url(../images/icons/carbon_arrow-up.svg);
  }

  &--menu {
    background-image: url(../images/icons/burger-menu.svg);
  }

  &--chevron {
    background-image: url(../images/icons/chevron.svg);
  }

  &--close {
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/icon-close.svg);
  }
}
