@use '../abstracts' as *;

.nav {
  &__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &__item {
    @extend %hover-effect;

    width: max-content;
    line-height: 1;
  }
}
