$clr-malachite: #1a5a4c;
$clr-malachite-rgb-cannels: 26, 90, 76;
$clr-vermilion: #f14a27;
$clr-white: #fff;
$clr-black: #000;
$clr-dark-ebony: #0f0e08;
$clr-platinum: #e0e0e0;
$clr-slate: #687480;
$clr-charcoal: #4e4e4e;
$clr-shadow: #1a5a4c40;

:root {
  --color-primary: #{$clr-malachite};
  --color-primary-rgb: #{$clr-malachite-rgb-cannels};
  --color-secondary: #{$clr-vermilion};
  --color-bg-main: #{$clr-white};
  --color-bg-accent: #{$clr-dark-ebony};
  --color-bg-overlay: rgba(#{$clr-black}, 0.4);
  --color-text-hero: #{$clr-black}; // ("ХУДОЖНІЙ МУЗЕЙ")
  --color-text-title: #{$clr-dark-ebony}; // ("АКТУАЛЬНІ ПОДІЇ")
  --color-text-muted: #{$clr-slate}; // ВИСТАВКА
  --color-text-body: #{$clr-charcoal}; // Для основного тексту описів
  --color-text-light: #{$clr-white}; // Для тексту на темному фоні (меню, підписка)
}
