$max-width-sm: 320px;
$max-width-md: 768px;
$max-width-lg: 1280px;
$grid-gutter-sm: 1.25rem; // 20px / 16
$grid-gutter-md: 1.88rem; // 30px / 16x
$grid-gutter-lg: 1.88rem; // 30px / 16x
$container-padding-sm: 1.25rem; // 20px / 16
$container-padding-md: 2.13rem; // 34px / 16
$container-padding-lg: 3.44rem; // 20px / 16
