@use '../abstracts' as *;

.events {
  --margin-block-title: 0 20px;
  --text-align: center;

  margin-top: 70px;

  &__title {
    margin-block: var(--margin-block-title);
    text-align: var(--text-align);
  }

  @include respond-to('md') {
    --margin-block-title: 0 48px;
    --text-align: left;

    margin-top: 88px;
  }

  @include respond-to('lg') {
    --margin-block-title: 0 56px;

    margin-top: 200px;
  }
}
