@use '../variables' as *;

%hover-effect-scale-5-color-secondary {
  will-change: transform;
  transform: translateZ(0);
  transition:
    color $transition-duration-normal,
    transform $transition-duration-normal;

  &:hover {
    transform: scale(1.1);
    color: var(--color-secondary);
  }
}

%hover-effect-nav {
  &:hover {
    text-decoration: underline;
  }
}

%hover-effect-form {
  transition: gap $transition-duration-normal;

  &:hover {
    gap: 0;
  }
}

%hover-effect-scale-5 {
  transition: transform $transition-duration-normal;

  &:hover {
    transform: scale(1.05);
  }
}

%hover-effect-scale-20 {
  transition: transform $transition-duration-normal;

  &:hover {
    transform: scale(1.2);
  }
}

%hover-scale-10-bg-primary {
  transition:
    background-color $transition-duration-normal,
    transform $transition-duration-normal;

  &:hover {
    transform: scale(1.25);
    background-color: var(--color-primary);
  }
}

%hover-primary-bg-color-white {
  transition:
    color $transition-duration-normal,
    background-color $transition-duration-normal;

  &:hover {
    color: $clr-white;
    background-color: var(--color-primary);
  }
}

%hover-primary-color {
  transition: color $transition-duration-normal;

  &:hover {
    color: var(--color-primary);
  }
}
