@use '../abstracts' as *;

body {
  @include text-style('main');

  color: var(--color-text-body);
}

h1 {
  @include text-style('h1');
}

h2 {
  @include text-style('h2');

  color: var(--color-text-title);
}

h3 {
  @include text-style('h3');
}

h4 {
  @include text-style('h4');
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  @include text-style('button');
}

.btn {
  @include text-style('button');

  cursor: pointer;

  display: inline-block;

  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
